<%- include('partials/header') -%>

<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

    #scroll {
      overflow-x: scroll;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card-body {
      padding: 2px 16px;
    }
  </style>

  <!-- Jumbotron -->
  <div id="intro" class="p-1 text-center bg-light">
  </div>
  <!-- Jumbotron -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
  <div class="container">
    <!-- Header -->
    <h1>About Us</h1>
    <hr />
    <p>We are a group of friends who enjoying coding.</p>

    <!--Section: Content-->
    <section>
      <h1>The Team</h1>
      <hr />
      <div class="row gx-lg-5">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
              <img src="https://www.jewishexponent.com/wp-content/uploads/2018/06/6-7-Sussman-photo-1.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">

            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5>Ari Sussman: Backend Developer </h5>

              <p>
              Ari has worked the backend development for this project.
              </p>
            </a>
          </div>

          </div>
          <!-- News block -->
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4" data-mdb-ripple-color="light">
              <img src="https://i.ytimg.com/vi/ixZvElzNVT4/maxresdefault.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>


            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5>Nick Eng: Frontend Developer </h5>

              <p>
                Nick has worked on the frontend development for this project.
              </p>
            </a>


          </div>
          <!-- News block -->
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4" data-mdb-ripple-color="light">
              <img src="https://bbk12e1-cdn.myschoolcdn.com/163/photo/2015/05/orig_photo387601_5276507.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5>Clifford Stowe: Full Stack Developer</h5>

              <p>
                Clifford the Big Red Dog
              </p>
            </a>
          </div>
          <!-- News block -->
        </div>
      </div>
    </section>

<!--Main layout-->

<%- include('partials/footer') -%>
