<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>


<body>
  <br>
<p> LinkedTrin: Group Listings
  <br>

  <ul>
    <a href="www.google.com">First Listing</a>
    <br>
    <a href="www.google.com">Second Listing</a>
    <br>
    <a href="www.google.com">Third Listing</a>
    </ul>

</body>

<%- include('partials/footer') -%>
