<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>

<head>

</head>



<body>
  <br>
<p> LinkedTrin: Skeleton of the Skeleton
  <br>


<button type="button">Login with Google(will become API thing)</button>
<a href="/listings">Listings</a>

</body>

<%- include('partials/footer') -%>
