<%- include('partials/header') -%>
<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

    #scroll {
      overflow-x: scroll;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card-body {
      padding: 2px 16px;
    }

    .search input[type=text]{
        width:40rem;
        height:2rem;
        border-radius:25px;
        border: 10px;
    }

    .search{
        float:left;
        margin:20px;
    }

    .search button{
        background-color: #0074D9;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    .card_container{
      display: flex;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
    .card_container:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card_content{
      width: 70%;
      padding: 2rem;
    }
    .card_control {
      width: 30%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  </style>

  <!-- Jumbotron -->
  <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">LinkedTrin</h1>
    <p class="mb-3">A guide to academic and extracurricular opportunities at Trinity. Good luck!</p>
  </div>
  <!-- Jumbotron -->
</header>

<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
  <div class="container">
    <!-- Header -->
    <h1>Recently Viewed</h1>
    <a role="button" class="btn btn-primary btn-lg m-2"
       href="/eventListings" rel="nofollow" target="_blank">
       See More
    </a>
    <hr />

    <!--Section: News of the day -- we made edits to this-->
    <section  class="border-to pb-4 mb-5 colspan-20">
      <div class="row gx-lg-5">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <!-- News block -->
            <!-- Article title and description -->

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <div class="card" style="height: 20rem;width: 25rem;">
                <div class="card-body">
                  <h4><b>Tech Internship</b></h4>
                  <p class="card-text">Internship at Nick, Ari, & Cliff Media.</p>
                  <a role="button" class="btn btn-primary btn-lg m-2"
                     href="/eventListings" rel="nofollow" target="_blank">
                     Learn More
                  </a>
                </div>
              </div>
            </div>
          <!-- News block -->
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <!-- Article title and description -->
            <div class="card" style="height:20rem;width: 25rem;">
              <div class="card-body">
                <h4><b>Serve the Community</b></h4>
                <p class="card-text">  Do service and stuff like that. Learn more by clicking on this event.</p>
                <a role="button" class="btn btn-primary btn-lg m-2"
                   href="/eventListings" rel="nofollow" target="_blank">
                   Learn More
                </a>
              </div>
            </div>
          <!-- News block -->
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <!-- Article title and description -->
            <div class="card" style="height:20rem;width: 25rem;">
              <div class="card-body">
                <h4><b>HackTrin</b></h4>
                <p class="card-text">  Coding happens here.</p>
                <a role="button" class="btn btn-primary btn-lg m-2"
                   href="/eventListings" rel="nofollow" target="_blank">
                   Learn More
                </a>
              </div>
            </div>
        </div>
  </div>

    </section>
    <!--Section: News of the day-->

    <!--Section: Content-->
    <section>
      <h1>Recommended</h1>
      <a role="button" class="btn btn-primary btn-lg m-2"
         href="/eventListings" rel="nofollow" target="_blank">
         See More
      </a>
      <hr />

      <!--Section: News of the day -- we made edits to this-->
      <section  class="border-to pb-4 mb-5 colspan-20">
        <div class="row gx-lg-5">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <!-- News block -->
              <!-- Article title and description -->

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="card" style="height: 20rem;width: 25rem;">
                  <div class="card-body">
                    <h4><b>Tech Internship</b></h4>
                    <p class="card-text">Internship at Nick, Ari, & Cliff Media.</p>
                    <a role="button" class="btn btn-primary btn-lg m-2"
                       href="/eventListings" rel="nofollow" target="_blank">
                       Learn More
                    </a>
                  </div>
                </div>
              </div>
            <!-- News block -->
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <!-- Article title and description -->
              <div class="card" style="height:20rem;width: 25rem;">
                <div class="card-body">
                  <h4><b>Serve the Community</b></h4>
                  <p class="card-text">  Do service and stuff like that. Learn more by clicking on this event.</p>
                  <a role="button" class="btn btn-primary btn-lg m-2"
                     href="/eventListings" rel="nofollow" target="_blank">
                     Learn More
                  </a>
                </div>
              </div>
            <!-- News block -->
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <!-- Article title and description -->
              <div class="card" style="height:20rem;width: 25rem;">
                <div class="card-body">
                  <h4><b>HackTrin</b></h4>
                  <p class="card-text">  Coding happens here.</p>
                  <a role="button" class="btn btn-primary btn-lg m-2"
                     href="/eventListings" rel="nofollow" target="_blank">
                     Learn More
                  </a>
                </div>
              </div>
          </div>
    </div>

      </section>
    <!--Section: Content-->

    <section class="border-to pb-4 mb-5">
      <h1>Popular Right Now</h1>
      <a role="button" class="btn btn-primary btn-lg m-2"
         href="/eventListings" rel="nofollow" target="_blank">
         See More
      </a>
      <hr />

      <!--Section: News of the day -- we made edits to this-->
      <section  class="border-to pb-4 mb-5 colspan-20">
        <div class="row gx-lg-5">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <!-- News block -->
              <!-- Article title and description -->

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="card" style="height: 20rem;width: 25rem;">
                  <div class="card-body">
                    <h4><b>Tech Internship</b></h4>
                    <p class="card-text">Internship at Nick, Ari, & Cliff Media.</p>
                    <a role="button" class="btn btn-primary btn-lg m-2"
                       href="/eventListings" rel="nofollow" target="_blank">
                       Learn More
                    </a>
                  </div>
                </div>
              </div>
            <!-- News block -->
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <!-- Article title and description -->
              <div class="card" style="height:20rem;width: 25rem;">
                <div class="card-body">
                  <h4><b>Serve the Community</b></h4>
                  <p class="card-text">  Do service and stuff like that. Learn more by clicking on this event.</p>
                  <a role="button" class="btn btn-primary btn-lg m-2"
                     href="/eventListings" rel="nofollow" target="_blank">
                     Learn More
                  </a>
                </div>
              </div>
            <!-- News block -->
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <!-- Article title and description -->
              <div class="card" style="height:20rem;width: 25rem;">
                <div class="card-body">
                  <h4><b>HackTrin</b></h4>
                  <p class="card-text">  Coding happens here.</p>
                  <a role="button" class="btn btn-primary btn-lg m-2"
                     href="/eventListings" rel="nofollow" target="_blank">
                     Learn More
                  </a>
                </div>
              </div>
          </div>
    </div>

      </section>
  </div>
</main>
<!--Main layout-->

<%- include('partials/footer') -%>
