<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>
<style>
  .container {
    position: fixed;
    padding-top:250px;
  }
</style>
<div class="container">
  <div class="jumbotron text-center text-primary">
    <h1><span class="fa fa-lock"></span> Login</h1>
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
    </p>
  </div>
</div>

<%- include('partials/footer') -%>
